.section_yunchen{
  width: 100%;
  margin:auto;
}
.section_yunchen .container{
  width: 1200px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border: 2px solid #FFEBF2;
  border-radius: 15px;
  box-shadow: 2px 3px 5px #edc9d772;
  padding: 20px 0;
}

.section_yunchen .txt{
  width: 600px;
}
.section_yunchen .pic{
  padding: 20px;
}

.section_yunchen img{
  width: 100%;
  vertical-align: bottom;
}

.section_yunchen h2{
  font-size: 24px;
}
.section_yunchen p{
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5;
}

.btn_more a{
  font-size: 16px;
  color: #f2f2f2;
  padding: 10px 15px;
  background-color: #f7b1b1;
  border-radius: 30px;
  display: block;
  width: 80px;
  position: relative;
  border: 1px solid #f7b1b1;
  text-decoration: none;
}
.btn_more a::after{
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 1;
}
.btn_more a:hover{
  background-color: #ffffff;
  color: #f7b1b1;
  transition: .5s;
  border: 1px solid #f7b1b1;
}
.btn_more a:hover::after{
  content: '';
  opacity: 0;

}
.btn_more a:hover::before{
  content: '';
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent transparent #f7b1b1;
  position: absolute;
  right: 9px;
  top: 13px;
}

.wrap{
  width:100%;
  display: flex; /* 區塊並排 */
}

.item{
  width:25%;
  position:relative; /* 將文字內容定位在圖片內 */
}

.item img{
  width:100%;
  vertical-align: middle; /* 消除圖片下方預設的空白區塊 */
}

.item .txt{
  position: absolute;  
  top:0; 
  right:0; 
  bottom:0;
  left: 0;
  padding:20px;
  background-color:rgba(0,0,0,.2); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;  /* 將文字設成透明 */
  transition: opacity .5s .3s; /* 漸漸出現的效果 */
}

.item:hover .txt{
  opacity:1; 
}

.item h2{
  font-size: 24px;
  font-weight: 500;
  color:pink;
}

/* 漸漸出現文字底線的效果 */
.item h2::after{
  content:'';
  display: block; /* 將屬性由inline-block改成block */
  width:0%;
  height:2px; 
  margin:10px 0; 
  background-color: pink;
  transition: width .5s .3s; 
}

.item:hover h2::after{
  width:100%; 
} 

.item p{
  font-size: 18px;
  font-weight: 100;
  color:#fff; 
} 